<div class="content-container">
<h1>Topics Board</h1>
    <% @topics.each do |topic| %>
        <div class="topic-container">
            <h1 class="topic-title"><%=topic.title%></h1>
            <div class="vote-container">
                <button class="vote-button">Vote</button>
                
            </div>           
        </div>
        </div>
    <%end%>
</div>





