<% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
    
<% else %>
    <%= link_to "login", new_user_session_path %>
    <%= link_to "signup", new_user_registration_path %>
<% end %>

<h1>
<div class="content-container">
    <% @topics.each do |topic| %>
        <div class="topic-container">
            <h1 class="topic-title">Authentication</h1>
            <div class="vote-container">
                <button class="vote-button">Vote</button>
                <p><%= topic.votes.length %></p>
            </div>           
        </div>
        </div>
    <%end%>
</div>






