.form-container {
    margin: 75px auto;
    width: 300px;
    form {
        display: flex;
        margin: 0 auto;     
        flex-direction: column;
        height: 200px;
        .field {
            display: flex;
            flex-direction: column;
            margin: 10px 0px;
            input {
                margin: 10px 0px;
                border-radius: 5px;
                font-size: 12pt;
            }
            textarea {
                margin: 10px 0px;
                height: 100px;
                border-radius: 5px;
                font-size: 12pt;
            }
        }
    
    }
    
}